@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Online Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="header-nav">
        <div class="header-menu">        
            <img src="~/img/logo.png" class="logo">
            <b><a class="header-link" asp-area="" asp-controller="Home" asp-action="Index">Тихий Омут</a></b>
        </div>

        <div class="header-search">
            <input class="search-bar">
            <button class="search-button"><img src="~/img/search.png" class="search-ico"></button>
        </div>

        <div class="header-buttons">
            <a class="header-link" asp-controller="Home" asp-action="Create">Add product</a>
            <a class="header-link" asp-controller="Users" asp-action="Index">Users</a>
        
            @if (User.Identity.IsAuthenticated)
            {
                <a asp-action="Index" asp-controller="Account">@Localizer["Welcome"] @User.Identity.Name</a>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" value="@Localizer["LogOutButton"]">
                </form>
            }
            else
            {
                <a class="header-link" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                <a class="header-link" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
            }
        </div>
    </nav>
</header>
<div>
    <main role="main">
        @RenderBody()
    </main>
</div>

<footer>
    <div>
        2003 - 2021: Черты ЛТД.
        Тихий Омут &copy;
    </div>
    <div>
        @await Html.PartialAsync("_LanguageSelect")
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>