@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - Online Store</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css"/>
</head>
<body>
<header>
    <nav class="header-nav">
        <div class="header-menu">        
            <img src="~/img/logo.png" class="logo">
            <b><a class="header-link" asp-area="" asp-controller="Home" asp-action="Index">Тихий Омут</a></b>
        </div>

        <div class="header-search">
            <input class="search-bar">
            <button class="search-button"><img src="~/img/search.png" class="search-ico"></button>
        </div>

        <div class="header-buttons">
            @if (User.Identity.IsAuthenticated)
            {
                <button onclick="ajaxGet('@Url.Action("ShoppingCart", "Account", null, Context.Request.Scheme)');"  style="background: transparent; border: none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="none" viewBox="0 0 256 256"><rect width="256" height="256" fill="none"></rect><path d="M184,184H69.8L41.9,30.6A8,8,0,0,0,34.1,24H16" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path><circle cx="80" cy="204" r="20" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><circle cx="184" cy="204" r="20" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></circle><path d="M62.5,144H188.1a15.9,15.9,0,0,0,15.7-13.1L216,64H48" fill="none" stroke="#ffffff" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"></path></svg>
                </button>
                <a asp-action="Index" asp-controller="Account">@Localizer["Welcome"] @User.Identity.Name</a>
                <form method="post" asp-controller="Account" asp-action="Logout">
                    <input type="submit" class="btn btn-primary" value="@Localizer["LogOutButton"] ">
                </form>
            }
            else
            {
                <a class="header-link" asp-controller="Account" asp-action="Register">@Localizer["Register"]</a>
                <a class="header-link" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>
            }
        </div>
    </nav>
</header>
<div>
    <main role="main">
        @RenderBody()
        <div class="modal" tabindex="-1" role="dialog" id="modal-window">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div>
                2003 - 2021: Черты ЛТД.
                Тихий Омут &copy;
            </div>
            <div>
                @await Html.PartialAsync("_LanguageSelect")
            </div>
        </footer>
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>