@model IEnumerable<OnlineStore.Models.Product>

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["GoodsTitle"];
    Layout = "_Layout";
}

<h2>@Localizer["GoodsTitle"]</h2>
<a asp-action="Create" asp-controller="Product">@Localizer["AddGoods"]</a>

<table class="table">
    <thead>
    <tr>
        <th>@Localizer["Id"]</th>
        <th>@Localizer["NameUA"]</th>
        <th>@Localizer["NameRU"]</th>
        <th>@Localizer["NameEN"]</th>
        <th>@Localizer["Price"]</th>
        <th>@Localizer["Category"]</th>
        <th>@Localizer["DescriptionShortUA"]</th>
        <th>@Localizer["DescriptionShortRU"]</th>
        <th>@Localizer["DescriptionShortEN"]</th>
        <th>@Localizer["DescriptionFullUA"]</th>
        <th>@Localizer["DescriptionFullRU"]</th>
        <th>@Localizer["DescriptionFullEN"]</th>
        <th>@Localizer["DateAdded"]</th>
        <th>@Localizer["Image"]</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var goods in Model)
    {
        <tr>
            <td>@goods.Id</td>
                    <td>@goods.NameUA</td>
                    <td>@goods.NameRU</td>
                    <td>@goods.NameEN</td>
                    <td>@goods.Price</td>
                    <td>@goods.Category</td>
                    <td>@goods.DescriptionShortUA</td>
                    <td>@goods.DescriptionShortRU</td>
                    <td>@goods.DescriptionShortEN</td>
                    <td>@goods.DescriptionFullUA</td>
                    <td>@goods.DescriptionFullRU</td>
                    <td>@goods.DescriptionFullEN</td>
                    <td>@goods.DateAdded</td>
                    <td><img src="@goods.ImageLink" style="height: 80px"/></td>
            <td>
                <a class="btn btn-primary" asp-action="Edit" asp-controller="Product" asp-route-id="@goods.Id">@Localizer["Edit"]</a>
                <form method="post" asp-action="Delete" asp-controller="Product" asp-route-id="@goods.Id">
                    <input class="btn btn-danger" type="submit" value="@Localizer["Delete"]">
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>
