@model OnlineStore.Models.ViewModels.WishlistViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewBag.Title = Localizer["Wishlist"];
    Layout = "_Layout";
}

<h2>@Localizer["Wishlist"]</h2>

@if (Model.Products.Count() == 0)
{
    <p>@Localizer["NoGoods"]</p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>@Localizer["Image"]</th>
            <th>@Localizer["Name"]</th>
            <th>@Localizer["Price"]</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <td><img src="@product.ImageLink" style="height: 50px"/></td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>
                    <form method="post" asp-action="RemoveFromWishlist" asp-controller="Account" asp-route-id="@product.Id" asp-route-returnUrl="@Url.Action("ShoppingCart", "Account", null, Context.Request.Scheme)">
                        <input type="submit" value="Delete" class="btn btn-danger"/>
                    </form>
                    @if (product.IsInCart)
                    {
                        <form method="post" asp-action="RemoveFromCart" asp-controller="Account" asp-route-id="@product.Id" asp-route-returnUrl="@Url.Action("Wishlist", "Account", null, Context.Request.Scheme)">
                            <input type="submit" value="RemoveFromCart" class="btn btn-success"/>
                        </form>
                    }
                    else
                    {
                        <form method="post" asp-action="AddToCart" asp-controller="Account" asp-route-id="@product.Id" asp-route-returnUrl="@Url.Action("Wishlist", "Account", null, Context.Request.Scheme)">
                            <input type="submit" value="AddToCart" class="btn btn-success"/>
                        </form>
                    }
                </td>
            </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-primary" asp-action="Wishlist" asp-controller="Account">
        @Localizer["GoToCart"]
    </a>
}