@model OnlineStore.Models.ViewModels.GoodsForIndexViewModel

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewData["Title"] = "Home";
}

<div class="main-container">
    <aside>
        @await Html.PartialAsync("_Sidebar")
    </aside>
    
    <div class="main-page">

        @* Related products *@
        <h3>@Localizer["RelatedGoods"]</h3>
        
        <div class="goods-row">
            @if (Model.RelatedGoodsList.Count > 0)
            {
                @await Html.PartialAsync("_GoodsPost", Model.RelatedGoodsList[0])
                @await Html.PartialAsync("_GoodsPost", Model.RelatedGoodsList[1])
                @await Html.PartialAsync("_GoodsPost", Model.RelatedGoodsList[2])
            }
            else
            {
                <p>@Localizer["NoGoods"]</p>
            }
        </div>

        @* Discounted products *@

        <h3>@Localizer["DiscountedGoods"]</h3>
        
        @if (Model.DiscountGoodsList.Count > 0)
        {
            <div class="goods-row">
                @await Html.PartialAsync("_GoodsPost", Model.DiscountGoodsList[0])
                @await Html.PartialAsync("_GoodsPost", Model.DiscountGoodsList[1])
                @await Html.PartialAsync("_GoodsPost", Model.DiscountGoodsList[2])
            </div>
        }
        else
        {
            <p>@Localizer["NoGoods"]</p>
        }
       
        
        @* New products *@
        
        <h3>@Localizer["NewGoods"]</h3>
        
        @if (Model.NewGoodsList.Count > 0)
        {
            <div class="goods-row">
                @await Html.PartialAsync("_GoodsPost", Model.NewGoodsList[0])
                @await Html.PartialAsync("_GoodsPost", Model.NewGoodsList[1])
                @await Html.PartialAsync("_GoodsPost", Model.NewGoodsList[2])
            </div>
        }
        else
        {
            <p>@Localizer["NoGoods"]</p>
        }
    </div>
</div>