@model OnlineStore.Models.LocalizedProduct

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<div class="main-container">
    <aside>
        @await Html.PartialAsync("_Sidebar")
    </aside>
    
    <div>
        <h2>@Model.Name</h2>
        <p>@Model.Price</p>
        <p>@Model.DescriptionShort</p>
        <p>@Model.DescriptionFull</p>
        <img src="@Model.ImageLink"/>
        <div class="row" style="gap: 10px">
            @if (Model.IsInWishlist)
            {
                <form method="post" asp-action="RemoveFromWishlist" asp-controller="Account" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Product", "Home", new {id = Model.Id}, Context.Request.Scheme)">
                    <input class="post-btn-wishlist" type="submit" value="RemoveWish"/>
                </form>
            }
            else
            {
                <form method="post" asp-action="AddToWishlist" asp-controller="Account" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Product", "Home", new {id = Model.Id}, Context.Request.Scheme)">
                    <input class="post-btn-wishlist" type="submit" value="AddWish"/>
                </form>
            }
            @if (Model.IsInCart)
            {
                <form method="post" asp-action="RemoveFromCart" asp-controller="Account" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Product", "Home", new {id = Model.Id}, Context.Request.Scheme)">
                    <input class="post-btn-cart" type="submit" value="@Localizer["RemoveFromCart"]"/>
                </form>
            }
            else
            {
                <form method="post" asp-action="AddToCart" asp-controller="Account" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Product", "Home", new {id = Model.Id}, Context.Request.Scheme)">
                    <input class="post-btn-cart" type="submit" value="@Localizer["AddtoCart"]"/>
                </form>
            }
        </div>
    </div>
</div>

@section Scripts
{
    
}
