@model OnlineStore.Models.LocalizedProduct

@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer Localizer

@{
    ViewBag.Title = Model.Name;
    Layout = "_Layout";
}

<div class="main-container">
    <aside>
        @await Html.PartialAsync("_Sidebar", ViewBag.Categories, null)
    </aside>

    <div class="main-page">
        <div class="d-flex flex-column mx-lg-5 my-lg-5">
            <div class="d-flex justify-content-sm-between">
                <img class="h-100" src="@Model.ImageLink"/>
                <div class="mt-lg-5">
                    <h2 class="product-page-name">@Model.Name</h2>
                    <p class="product-page-description">@Model.DescriptionShort</p>
                    <div class="row px-3">
                        <p class="product-page-price">@Model.Price UAH</p>
                        <div class="d-flex row ml-5 my-auto">
                            @if (Model.IsInWishlist)
                            {
                                <form method="post" asp-action="RemoveFromWishlist" asp-controller="Account" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Product", "Home", new { id = Model.Id }, Context.Request.Scheme)">
                                    <input class="post-btn-wishlist m-2" type="submit" value="RemoveWish"/>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToWishlist" asp-controller="Account" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Product", "Home", new { id = Model.Id }, Context.Request.Scheme)">
                                    <input class="post-btn-wishlist m-2" type="submit" value="AddWish"/>
                                </form>
                            }
                            @if (Model.IsInCart)
                            {
                                <form method="post" asp-action="RemoveFromCart" asp-controller="Account" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Product", "Home", new { id = Model.Id }, Context.Request.Scheme)">
                                    <input class="post-btn-cart m-2" type="submit" value="@Localizer["RemoveFromCart"]"/>
                                </form>
                            }
                            else
                            {
                                <form method="post" asp-action="AddToCart" asp-controller="Account" asp-route-id="@Model.Id" asp-route-returnUrl="@Url.Action("Product", "Home", new { id = Model.Id }, Context.Request.Scheme)">
                                    <input class="post-btn-cart m-2" type="submit" value="@Localizer["AddtoCart"]"/>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <p class="product-page-description mx-xl-5">@Model.DescriptionFull</p>
        </div>
    </div>
</div>

@section Scripts
{
    
}
